/* about-us */

.about-us .heading-3 {
  padding-bottom: 76px;
}
.about-us__img-wrapper {
  width: 168px;
  height: 168px;
  margin: 0 auto;
}
.about-us__img-wrapper img {
  border-radius: 50%;
  border: 7px solid #f1f1f1;
  width: 100%;
  height: auto;
}

.about-us__timeline--right [class^="col"] {
  float: right;
}

.about-us__timeline--left .about-us__description-title, .about-us__timeline--left .about-us__description-text {
  text-align: right;
}

.about-us__timeline--right .about-us__description-title, .about-us__description-text {
  text-align: left;
}
.about-us__description-title {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 28px;
  color: #222222;
  font-family: "Montserrat";
  font-weight: 700; 
  text-transform: uppercase;
}
.about-us__description-title span {
  text-transform: capitalize;
}
.about-us__description-text {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #777777;
  font-family: "Roboto Slab";
  font-weight: 400;
  margin-top: 10px;
}
.about-us__img-wrapper {
  position: relative;
  margin-bottom: 91px;
}
.about-us__img-wrapper::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 93px;
  background-color: #f1f1f1;
  bottom: -92px;
  left: 50%;
  transform: translateX(-50%);
}
.about-us__timeline--centre {
  margin: 0 auto;
  width: 168px;
  height: 168px;
  border-radius: 84px;
  background-color: #fed136;
  border: 7px solid #f1f1f1;
  font-size: 18px;
  letter-spacing: 0px;
  color:  #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center; 
}
.text__circle {
  padding: 25px;
  text-transform: uppercase;
  line-height: 28px;
}