
/* Contact us */

.contact-us {
  padding: 88px 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-us__heading-2 {
  font-size: 40px;
  letter-spacing: -1px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
      
}
.contact-us__heading-3 {
  padding-top: 17px;
  font-size: 16px;
  color: #777777;
  font-family: "Droid Serif";
  font-weight: 400;
  font-style: italic;
  text-align: center;
}
.contact-us__list {
  height: 50px;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.contact-us__text {
  font-size: 14px;
  letter-spacing: 0px;
  color: #bbbbbb;
  font-family: "Montserrat";
  font-weight: 700; 
}
.contact-us__message {
  height: 209px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.contact-us__form {
  padding-top: 68px;
}

.contact-form__item {
  position: relative;
  margin-bottom: 29px;
}

.contact-form__item input, .contact-form__item textarea {
  width: calc(100% - 13.5px);
  padding-left: 20px;
}

.contact-form__item textarea {
  padding-top: 15px;
}

.contact-form fieldset {
  width: 100%;
}
.contact-form__item label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

.contact-form__item label:after {
  content: "*";
  display: inline;
  padding-left: 5px;
}

.contact-form__item label[for="your-message"] {
  top: 20px;
  transform: unset;
}
.contact-form__button {
  display: block;
  width: 240px;
  height: 65px;
  border-radius: 3px;
  background-color: #fed136;
  font-size: 18px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  text-transform: uppercase;
  transition: transform .3s ease-in-out;
}

.contact-form__button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 992px) {
  .contact-form__button:hover {
    transform: initial;
  }
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}

  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
