/* gallery */

.gallery {
  padding: 70px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap:  wrap;
}

@media screen and (max-width: 992px) {
  .gallery {
    justify-content: center;
  }
  .gallery div {
    padding-top: 0;
  }
  .gallery div:first-child {
    padding-top: 0;
  }
  .gallery div:nth-child(2) {
    padding-top: 0;
  }
}

@media screen and (max-width: 828px) {
  .gallery div {
    padding-top: 50px;
  }
  .gallery div:nth-child(3) {
    padding-top: 0;
  }
}

@media screen and (max-width: 637px) {
  .gallery div {
    padding-top: 50px;
  }
  .gallery div:first-child {
    padding-top: 0;
  }
  .gallery div:nth-child(2) {
    padding-top: 0;
  }
  .gallery div:nth-child(3) {
    padding-top: 50px;
  }
}

@media screen and (max-width: 427px) {
  .gallery div:nth-child(2) {
    padding-top: 50px;
  }
}