/* our-amazing-team */
.our-amazing-team {
  background-color: #f9f9f9;
}

.our-amazing-team .heading-3 {
  padding-bottom: 76px;
}

.our-amazing-team__img-wrapper {
  margin: 0 auto;
  width: 220px;
  height: 220px;
  border-radius: 110px;
  background-color: #111111;
  border: 7px solid #ffffff;
}
.our-amazing-team__name .name {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 50px;
  color: #222222;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
}
.our-amazing-team .role {
  font-size: 16px;
  letter-spacing: 0px;
  color: #777777;
  font-family: "Roboto Slab";
  font-weight: 400;
  text-align: center;    
}
@media screen and (max-width: 682px) {

  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}

  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

.menu {
  display: block;
  padding-bottom: 20px;
  }
}
