/* our-amazing-team */
.our-amazing-team {
  background-color: #f9f9f9;
}

.our-amazing-team .heading-3 {
  padding-bottom: 76px;
}

.our-amazing-team__img-wrapper {
  margin: 0 auto;
  width: 220px;
  height: 220px;
  border-radius: 110px;
  background-color: #111111;
  border: 7px solid #ffffff;
}
.our-amazing-team__name .name {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 50px;
  color: #222222;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
}
.our-amazing-team .role {
  font-size: 16px;
  letter-spacing: 0px;
  color: #777777;
  font-family: "Roboto Slab";
  font-weight: 400;
  text-align: center;    
}
