<section class="about-us section-paddings">
  <div class="container">
      <div class="row">
          <h2 class="heading-2">About Us</h2>
          <h3 class="heading-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
      </div>
      <div class="row about-us__timeline about-us__timeline--left">
          <div class="col-4">
              <div class="about-us__description">
                  <h4 class="about-us__description-title">July 2010<br><span>Our Humble Beginnings</span></h4>
                  <p class="about-us__description-text">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni  ssim. Donec porttitora entum suscipit.</p>
              </div>
          </div>
          <div class="col-4">
              <figure class="about-us__img-wrapper">
                  <img src="../images/about-us-1.png">
              </figure>
          </div>
      </div>
      <div class="row about-us__timeline about-us__timeline--right">
          <div class="col-4">
              <div class="about-us__description">
                  <h4 class="about-us__description-title">January 2011<br><span>Facing Startup Battles</span></h4>
                  <p class="about-us__description-text">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni  ssim. Donec porttitora entum suscipit.</p>
              </div>
          </div>
          <div class="col-4">
              <figure class="about-us__img-wrapper">
                  <img src="../images/about-us-2.png">
              </figure>
          </div>
      </div>
      <div class="row about-us__timeline about-us__timeline--left">
          <div class="col-4">
              <div class="about-us__description">
                  <h4 class="about-us__description-title">December 2012<br><span>Enter The Dark Days</span></h4>
                  <p class="about-us__description-text">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni  ssim. Donec porttitora entum suscipit.</p>
              </div>
          </div>
          <div class="col-4">
              <figure class="about-us__img-wrapper">
                  <img src="../images/about-us-3.png">
              </figure>
          </div>
      </div>
      <div class="row about-us__timeline about-us__timeline--right">
          <div class="col-4">
              <div class="about-us__description">
                  <h4 class="about-us__description-title">february 2014<br><span>Our Triumph</span></h4>
                  <p class="about-us__description-text">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni  ssim. Donec porttitora entum suscipit.</p>
              </div>
          </div>
          <div class="col-4">
              <figure class="about-us__img-wrapper">
                  <img src="../images/about-us-4.png">
              </figure>
          </div>
      </div>
      <div class="row about-us__timeline about-us__timeline--centre">
          <div class="col-12 text__circle">
              <p>
                      Our<br>
                      Story<br>
                      Continues<br>
                      ...
              </p>
          </div>
      </div>
  </div>
</section>