<section class="contact-us section-paddings" style="background-image: url('./images/black.png')">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h2 class="contact-us__heading-2">Contact us</h2>
              <h3 class="contact-us__heading-3">Proin iaculis purus consequat sem cure.</h3>           
          </div>
      </div>
      <div class="row">
          <div class="col-12">
              <form class="js-form contact-us__form">
                  <div class="row">
                      <div class="col-6">
                          <fieldset>
                              <div class="contact-form__item">
                                  <label class="contact-us__text" for="name">Your name</label>
                                  <input class="contact-us__list" type="text" id="name">
                              </div>
                              <div class="contact-form__item">
                                  <label class="contact-us__text" for="Your e-mail">Your e-mail</label>
                                  <input class="contact-us__list" type="email" id="Your e-mail" required/>
                              </div>
                              <div class="contact-form__item">
                                  <label class="contact-us__text" for="subject">Subject</label>
                                  <input class="contact-us__list" type="text" name="subject" id="subject" required/>   
                              </div>
                          </fieldset>
                      </div>
                      <div class="col-6">
                          <div class="contact-form__item">
                              <label class="contact-us__text" for="your-message">Your mesage </label>
                              <textarea class="contact-us__message" type="text" id="your-message"></textarea>
                          </div>
                      </div>
                  </div>
                  <input href="#" class="contact-form__button"  type="submit" value="Send message">
              </form>
          </div>
      </div>
  </div>
</section>