<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <p class="footer__copyrights">© Copyright 2014 FreebiesXpress.com</p>
              <div class="footer__social">
                  <div class="icons-wrapper">
                      <a href="#"  class="icons-wrapper__img-icon
                      icons-wrapper__img-icon--blue">
                          <img src="../images/twitter.png">
                      </a>  
                      <a href="#"  class="icons-wrapper__img-icon
                      icons-wrapper__img-icon--blue1"> 
                          <img src="../images/facebook.png">
                      </a>
                      <a href="#"  class="icons-wrapper__img-icon icons-wrapper__img-icon--red">    
                          <img src="../images/P.png">
                      </a>   
                      <a href="#"  class="icons-wrapper__img-icon
                      icons-wrapper__img-icon--red">  
                          <img src="../images/google.png">
                      </a>  
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>