<section>
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="gallery">
                  <div>
                      <img src="../images/envato.png">
                  </div>
                  <div>
                      <img src="../images/wordpress.png">
                  </div>
                  <div>
                      <img src="../images/tuts+.png">
                  </div>
                  <div>
                      <img src="../images/microlancer.png">
                  </div>                        
              </div>
          </div>    
      </div>
  </div>
</section>