<header class="header" style="background-image: url('./images/hero-bg.png');">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="header__nav" id="navBar">
                  <a href="#" class="header__logo"style="background-image: url('./images/logo.png');"></a>
                  <ul class="header__navbar">
                      <li><a href="#">home</a></li>
                      <li><a href="#">services</a></li>
                      <li><a href="#">portfolio</a></li>
                      <li><a href="#">about</a></li>
                      <li><a href="#">contact</a></li>
                  </ul>
              </nav>
          </div>
      </div>
      <div class="header__hero">
          <h1 class="header__title">Welcome To Our Studio</h1>
          <h2 class="header__subtitle">It's nice to Meet you</h2>
          <a href="#"class="header__btn">Tell Me More</a>
      </div>
  </div>
</header>