<section class="our-amazing-team section-paddings">
  <div class="container">
      <div class="row">
          <h2 class="heading-2">Our amazing team</h2>
          <h3 class="heading-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
      </div>
      <div class="row">
          <div class="col-4 col-m-4 col-s-12 menu">
              <figure class="our-amazing-team__img-wrapper">
                  <!-- <img src="./images/team-1.png"> -->
              </figure>
              <div class="our-amazing-team__name">
                  <h5 class="name">Kimberly Thompson</h5> 
                  <p class="role">Marketer</p>
                  <div class="icons-wrapper">
                      <a href="#"  class="icons-wrapper__img-icon icons-wrapper__img-icon--blue">
                          <img src="../images/twitter.png">
                      </a>  
                      <a href="#"  class="icons-wrapper__img-icon icons-wrapper__img-icon--blue1"> 
                          <img src="../images/facebook.png">
                      </a>    
                      <a href="#"  class="icons-wrapper__img-icon icons-wrapper__img-icon--red">    
                          <img src="../images/P.png">
                      </a>  
                  </div>
              </div>
          </div>
          
          <div class="col-4 col-m-4 col-s-12 menu">
              <figure class="our-amazing-team__img-wrapper">
                  <!-- <img src="./images/team-2.png"> -->
              </figure>
              <div class="our-amazing-team__name">
                  <h5 class="name">Rico Massimo</h5>
                  <p class="role">Coder</p>
                  <div class="icons-wrapper">
                      <a href="#"  class="icons-wrapper__img-icon
                      icons-wrapper__img-icon--blue">
                          <img src="../images/twitter.png">
                      </a>  
                      <a href="#"  class="icons-wrapper__img-icon
                      icons-wrapper__img-icon--blue1"> 
                          <img src="../images/facebook.png">
                      </a>    
                      <a href="#"  class="icons-wrapper__img-icon
                      icons-wrapper__img-icon--red">  
                          <img src="../images/google.png">
                      </a>  
                  </div>
              </div>
          </div>
          <div class="col-4 col-m-4 col-s-12 menu">
              <figure class="our-amazing-team__img-wrapper">
                  <!-- <img src="./images/team-3.png"> -->
              </figure>
              <div class="our-amazing-team__name">
                  <h5 class="name">Uku Mason</h5>
                  <p class="role">Graphic Designer</p>
                  <div class="icons-wrapper">
                      <a href="#" class="icons-wrapper__img-icon
                      icons-wrapper__img-icon--blue">
                          <img src="../images/twitter.png">
                      </a>
                      <a href="#"   class="icons-wrapper__img-icon
                      icons-wrapper__img-icon--red">
                          <img src="../images/P.png">
                      </a>  
                  </div>
              </div>
          </div>
      </div>           
      <p class="our-amazing-team__text">
      Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit<br>  
      aenean rhoncus posuere odio in tincidunt proin iaculis.
      </p>
  </div>
</section>