<section class="portfolio section-paddings">
  <div class="container">
      <div class="row">
          <h2 class="heading-2"> Our Portfolio</h2>
          <h3 class="heading-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
      </div>
      <div class="row">
          <div class="box-wrapper">
              <img src="../images/image1.png" alt="Tu podaj tekst alternatywny">
              <div class="text-wrapper">    
                  <h4 class="portfolio__title">Ebony & Ivory</h4>
                  <p class="portfolio__subtitle">Branding</p>
              </div>    
          </div>
          <div class="box-wrapper">    
              <img src="../images/image2.png" alt="Tu podaj tekst alternatywny">
              <div class="text-wrapper">    
                  <h4 class="portfolio__title">Smart Stationary</h4>
                  <p class="portfolio__subtitle">Print Design</p>
              </div>    
          </div>    
          <div class="box-wrapper">    
              <img src="../images/image3.png" alt="Tu podaj tekst alternatywny">
              <div class="text-wrapper">
                  <h4 class="portfolio__title">Clever Poster</h4>
                  <p class="portfolio__subtitle">Print Design</p>
              </div>
          </div>
          <div class="box-wrapper">
              <img src="../images/image4.png" alt="Tu podaj tekst alternatywny">
              <div class="text-wrapper">    
                  <h4 class="portfolio__title">Ebony & Ivory</h4>
                  <p class="portfolio__subtitle">Branding</p>
              </div>    
          </div>
          <div class="box-wrapper">    
              <img src="../images/image5.png" alt="Tu podaj tekst alternatywny">
              <div class="text-wrapper">    
                  <h4 class="portfolio__title">Smart Stationary</h4>
                  <p class="portfolio__subtitle">Print Design</p>
              </div>    
          </div>    
          <div class="box-wrapper">    
              <img src="../images/image6.png" alt="Tu podaj tekst alternatywny">
              <div class="text-wrapper">
                  <h4 class="portfolio__title">Clever Poster</h4>
                  <p class="portfolio__subtitle">Print Design</p>
              </div>
          </div>        
      </div>
</section>