<section class="services section-paddings">
  <div class="container">
      <div class="row">
          <h2 class="heading-2">Services</h2>
          <h3 class="heading-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
      </div>
      <div class="row">
          <div class="col-xs-12 col-4">
              <div class="services__image-box">
                  <div class="services__img-wrapper">
                      <img src="../images/icon-basket.png" alt="Tu podaj tekst alternatywny">
                  </div>
                  <h3 class="services__title-e-commerce">
                      E-Commerce
                  </h3>
                  <p class="services__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
              </div>
          </div>
          <div class="col-xs-12 col-4">
              <div class="services__image-box">
                  <div class="services__img-wrapper">
                      <img src="../images/laptop.png" alt="Tu podaj tekst alternatywny">
                  </div>
                  <h3 class="services__title-e-commerce">
                      Responsive Web
                  </h3>
                  <p class="services__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
              </div>
          </div>
          <div class="col-xs-12 col-4">
              <div class="services__image-box">
                  <div class="services__img-wrapper">
                      <img src="../images/securyty.png" alt="Tu podaj tekst alternatywny">
                  </div>
                  <h3 class="services__title-e-commerce">
                      Web Security
                  </h3>
                  <p class="services__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
              </div>
          </div>
      </div>
  </div>        
</section>      