@import "./reset.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
@font-face {
    font-family: "Droid";
    src: url("/src/fonts/DroidSerif.ttf"), format("true-type");
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
* {
    box-sizing: border-box;
}

/* GRID*/

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-offset-0 {margin-left: 0;}
.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.row::before, .row::after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
}

/* global styles */

.heading-2 {
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 75px;
    color: #222222;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.heading-3 {
    font-size: 16px;
    color: #777777;
    font-family: "Droid Serif";
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

/* hader */

.header {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header__nav {
    height: 41px;
    width: 100%;
    max-width: calc(1200px - 30px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: height .4s ease-in-out, opacity .4s ease-in-out;
    background-color: initial;
}

.header__nav.open {
    opacity: 1;
    height: 41px;
    background-color: rgba(0,0,0,.35);
}

.header__nav.collapse {
    height: 0;
    opacity: 0;
}

.header__navbar {
    float: right;
}

.header__logo {
    float: left;
    line-height: 41px;
    display: block;
    width: 79px;
    height: 28px;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar li {
    flex: 1;
    padding-right: 30px;
}

.header__navbar li:last-child {
    padding-right: 0;
}

.header__navbar  li a {
    font-size: 14px;
    line-height: 41px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.25s ease-in-out;  
}

.header__navbar  li a:hover {
    color:#FED136;
}
.header__hero {
    height: calc(100vh - 41px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__title {
    font-size: 40px;
    letter-spacing: -1px;
    color: #ffffff;
    font-family: "Droid";
    font-weight: 400;
    font-style: italic;
    text-align: center;
}
.header__subtitle {
    font-size: 75px;
    letter-spacing: -2px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 60px;
}
.header__btn {
    border-radius: 3px;
    background-color: #fed136;
    font-size: 18px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    padding: 26px 50px;
    text-transform: uppercase;
    text-decoration: none;
    transition: transform .3s ease-in-out;
}

.header__btn:hover {
   transform: scale(1.1);
}

/* services */

.section-paddings {
    padding-top: 123px;
    padding-bottom: 119px;
} 

.services__image-box {
    width: 100%;
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services__img-wrapper {
    border-radius: 33px;
    width: 66px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fed136;
   
}
.services__img-wrapper img {
   flex: 0 1 auto;
}
.services__title-e-commerce {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 75px;
    color: #222222;
    font-family: "Montserrat";
    font-weight: 700;
}
.services__description {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #777777;
    font-family: "Roboto Slab";
    font-weight: 400;
    text-align: center;
}

/* portfolio */

.portfolio {
    background-color:  #f7f7f7;
}

.portfolio .heading-3 {
    padding-bottom: 79px;
}

.portfolio img {
    width: 100%;
    height: auto; 
}
.portfolio__title {
    font-size: 18px;
    letter-spacing: 0px;
    color: #333333;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
}
.portfolio__subtitle {
    font-size: 14px;
    color: #737373;
    font-family: "Droid Serif";
    font-weight: 400;
    font-style: italic;
    text-align: center;
}
.portfolio .text-wrapper {
   padding: 25px 25px;
   background-color: #ffffff;
}

.portfolio .box-wrapper {
    width: 31%;
    float: left;
    margin-right: 3.5%;
    margin-bottom:  47px;
    transition: transform .3s ease-in-out;
}

.portfolio .box-wrapper:hover {
    transform: scale(1.05);
}

.portfolio .box-wrapper:nth-child(3), .portfolio .box-wrapper:nth-child(6)  {
    margin-right: 0;
}
.portfolio .box-wrapper:nth-child(4), .portfolio .box-wrapper:nth-child(5), .portfolio .box-wrapper:nth-child(6) {
    margin-bottom: 0;
}

/* about-us */

.about-us .heading-3 {
    padding-bottom: 76px;
}
.about-us__img-wrapper {
    width: 168px;
    height: 168px;
    margin: 0 auto;
}
.about-us__img-wrapper img {
    border-radius: 50%;
    border: 7px solid #f1f1f1;
    width: 100%;
    height: auto;
}

.about-us__timeline--right [class^="col"] {
    float: right;
}

.about-us__timeline--left .about-us__description-title, .about-us__timeline--left .about-us__description-text {
    text-align: right;
}

.about-us__timeline--right .about-us__description-title, .about-us__description-text {
    text-align: left;
}
.about-us__description-title {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #222222;
    font-family: "Montserrat";
    font-weight: 700; 
    text-transform: uppercase;
}
.about-us__description-title span {
    text-transform: capitalize;
}
.about-us__description-text {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #777777;
    font-family: "Roboto Slab";
    font-weight: 400;
    margin-top: 10px;
}
.about-us__img-wrapper {
    position: relative;
    margin-bottom: 91px;
}
.about-us__img-wrapper::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 93px;
    background-color: #f1f1f1;
    bottom: -92px;
    left: 50%;
    transform: translateX(-50%);
}
.about-us__timeline--centre {
    margin: 0 auto;
    width: 168px;
    height: 168px;
    border-radius: 84px;
    background-color: #fed136;
    border: 7px solid #f1f1f1;
    font-size: 18px;
    letter-spacing: 0px;
    color:  #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center; 
}
.text__circle {
    padding: 25px;
    text-transform: uppercase;
    line-height: 28px;
}

/* our-amazing-team */
.our-amazing-team {
    background-color: #f9f9f9;
}

.our-amazing-team .heading-3 {
    padding-bottom: 76px;
}

.our-amazing-team__img-wrapper {
    margin: 0 auto;
    width: 220px;
    height: 220px;
    border-radius: 110px;
    background-color: #111111;
    border: 7px solid #ffffff;
}
.our-amazing-team__name .name {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 50px;
    color: #222222;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
}
.our-amazing-team .role {
    font-size: 16px;
    letter-spacing: 0px;
    color: #777777;
    font-family: "Roboto Slab";
    font-weight: 400;
    text-align: center;    
}

/* icons-wrapper */

.icons-wrapper__img-icon {
    width: 41px;
    height: 41px;
    display: block;
    border-radius: 20px;
    background-color: #f9f9f9;
    border: 3px solid #222222;
    margin-left: 10px;
    background-color: white;
    transition: background-color .3s ease-in-out, border .3s ease-in-out ;
}
.icons-wrapper__img-icon:first-child {
    margin-left: 0;
}

.icons-wrapper__img-icon img {
    width: 100%;
    height: auto;
    transition: filter .3s ease-in-out;
}

.icons-wrapper__img-icon img:hover {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(23deg) brightness(118%) contrast(118%);
}

.icons-wrapper {
    padding-top:  14px;
    display: flex;
    justify-content: center;
    align-items: center;     
}
 
.icons-wrapper__img-icon--red:hover {
    border-color: #cb2028;
    background-color: #cb2028;
}
.icons-wrapper__img-icon--blue1:hover {
    background-color: #3b5998;
    border-color: #3b5998;
}
.icons-wrapper__img-icon--blue:hover {
    background-color: #1d9ceb;
    border-color: #1d9ceb;
}

.our-amazing-team__text {
    font-size: 16px;
    letter-spacing: 0px;
    color: #777777;
    font-family: "Roboto Slab";
    font-weight: 400;
    text-align: center;
    padding-top: 45px;
}

/* gallery */

.gallery {
    padding: 70px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:  wrap;
}

/* Contact us */

.contact-us {
    padding: 88px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-us__heading-2 {
    font-size: 40px;
    letter-spacing: -1px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
        
}
.contact-us__heading-3 {
    padding-top: 17px;
    font-size: 16px;
    color: #777777;
    font-family: "Droid Serif";
    font-weight: 400;
    font-style: italic;
    text-align: center;
}
.contact-us__list {
    height: 50px;
    border-radius: 2px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
.contact-us__text {
    font-size: 14px;
    letter-spacing: 0px;
    color: #bbbbbb;
    font-family: "Montserrat";
    font-weight: 700; 
}
.contact-us__message {
    height: 209px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.contact-us__form {
    padding-top: 68px;
}

.contact-form__item {
    position: relative;
    margin-bottom: 29px;
}

.contact-form__item input, .contact-form__item textarea {
    width: calc(100% - 13.5px);
    padding-left: 20px;
}

.contact-form__item textarea {
    padding-top: 15px;
}

.contact-form fieldset {
    width: 100%;
}
.contact-form__item label {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.contact-form__item label:after {
    content: "*";
    display: inline;
    padding-left: 5px;
}

.contact-form__item label[for="your-message"] {
    top: 20px;
    transform: unset;
}
.contact-form__button {
    display: block;
    width: 240px;
    height: 65px;
    border-radius: 3px;
    background-color: #fed136;
    font-size: 18px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform .3s ease-in-out;
}

.contact-form__button:hover {
    transform: scale(1.1);
 }

/* Footer */

.footer {
    background-color: white;
    position: relative;
}

.footer__copyrights {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #555555;
    font-family: "Montserrat";
    font-weight: 400;
}

.footer__social .icons-wrapper__img-icon {
    background-color: black;
}

.footer__social .icons-wrapper__img-icon  img{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(42deg) brightness(103%) contrast(103%);
}
.footer__social .icons-wrapper__img-icon--blue:hover {
    background-color: #1d9ceb;
}

.footer__social .icons-wrapper__img-icon--blue1:hover {
    background-color: #3b5998;
}

.footer__social .icons-wrapper__img-icon--red:hover {
    background-color: #cb2028;
}

.footer__social .icons-wrapper {
   width: max-content;
   padding-top: 0;
}

.footer__social {
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
}
.footer__copyrights {
    padding-top: 35px;
    padding-bottom: 40px;
}

